<div>
    <sw-alert variant="info">
        {{ $t('scopcustomheader.config.information') }}
        <sw-internal-link
                :router-link="{ name: 'scop.custom.header.list' }"
        >
            {{ $tc('scopcustomheader.config.link') }}
        </sw-internal-link>
    </sw-alert>
</div>
