.custom-header-wrapper{
    @media(max-width: 768px){
        &.hide{
            display: none;
        }
    }

    .custom-header{
        width:100%;
        justify-content: space-between;

        .scop-header-link{
            transition: .3s;
            text-decoration: none;
        }
         // IMG BOX
        .img-wrap{
            transform:translateY(17%);
            overflow: hidden;

            // IMG (Icon Before text)
            .sch-icon{
                display: block;
                width:100%;
                height:100%;
            }
        }

        @media (min-width: 768px) {
            display: flex;
        }
    }
    .scop-info-content{
        word-wrap: break-word;
        word-break: break-all;
        text-align-last: left;
    }
}
