<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>General</title>
        <title lang="de-DE">Allgemein</title>

        <input-field>
            <name>height</name>
            <copyable>true</copyable>
            <label>Bar Size</label>
            <label lang="de-DE">wie Gross</label>
            <placeholder>Height bar in px</placeholder>
            <placeholder lang="de-DE">Hohe in px eingeben</placeholder>
            <helpText>height in px insert</helpText>
            <helpText lang="de-DE">Die hohe in px eingeben</helpText>
        </input-field> <!-- Bar Height-->
        <input-field>
            <name>background</name>
            <copyable>true</copyable>
            <label>Background Color</label>
            <label lang="de-DE">Hintergrund Farbe</label>
            <placeholder>Input has to be a color  in HEX format Example : #fffff</placeholder>
            <placeholder lang="de-DE">Geben Sie bitte die Farbe in HEX Format ein. Beispiel: #fffff </placeholder>
            <helpText>This color will be the background of the header</helpText>
            <helpText lang="de-DE">Diese Farbe wird als Hintergrundfarbe verwendet</helpText>
        </input-field> <!-- Background Color-->

        <input-field type="int">
            <name>textFontSize</name>
            <copyable>true</copyable>
            <label>Text Font Size ( number + px)</label>
            <label lang="de-DE">Schriftgrosse (nur Zahlzeichen)</label>
            <placeholder>Please insert number + "px" . Example : 10px </placeholder>
            <placeholder lang="de-DE">Geben Sie bitte ein nummer + "px" am Ende ein, z.B 10px</placeholder>
            <helpText>Font Size insert</helpText>
            <helpText lang="de-DE">Font Size insert</helpText>
        </input-field> <!-- Font Size-->
        <input-field>
            <name>hover</name>
            <copyable>true</copyable>
            <label>Hover-Color</label>
            <label lang="de-DE">Hover-Color</label>
            <placeholder>Input has to be a color  in HEX format Example : #fffff</placeholder>
            <placeholder lang="de-DE">Geben Sie bitte die Farbe in HEX Format ein. Beispiel: #fffff </placeholder>
            <helpText>Please insert a color that will be shown on the hover over this text</helpText>
            <helpText lang="de-DE">Bitte geben Sie eine Farbe ein. Diese Farbe wird das Text haben wann cursor über </helpText>
        </input-field> <!-- Hover Color-->

        <input-field type="bool">
            <name>mobileBreakpointDisplay</name>
            <label>Hide on Mobile</label>
            <label lang="de-DE">Auf Handy die  Info-leiste verstecken</label>
        </input-field> <!--Display on Mobile-->

        <input-field>
            <name>textColor</name>
            <copyable>true</copyable>
            <label>Text-Color</label>
            <label lang="de-DE">Text-Farbe</label>
            <placeholder>Input has to be a color  in HEX format Example : #fffff</placeholder>
            <placeholder lang="de-DE">Geben Sie bitte die Farbe in HEX Format ein. Beispiel: #fffff </placeholder>
            <helpText>Please insert the text color</helpText>
            <helpText lang="de-DE">Bitte geben Sie eine Farbe ein.</helpText>
        </input-field>  <!--Text Color-->

        <input-field>
            <name>paddingTop</name>
            <copyable>true</copyable>
            <label>Space Above the Text</label>
            <label lang="de-DE">Abstand von oben</label>
            <placeholder>Please insert number + "px" . Example : 10px </placeholder>
            <placeholder lang="de-DE">Geben Sie bitte ein nummer + "px" am Ende ein, z.B 10px</placeholder>
            <helpText>
                This will be configurated for all of the elements
            </helpText>
            <helpText lang="de-DE">
                Diese Configuration gilt fur alle Elemente.
            </helpText>
        </input-field> <!--Padding Top -->
        <input-field>
            <name>paddingRight</name>
            <copyable>true</copyable>
            <label>Space on the right side of the Text</label>
            <label lang="de-DE">Abstand von rechts</label>
            <placeholder>Please insert number + "px" . Example : 10px </placeholder>
            <placeholder lang="de-DE">Geben Sie bitte ein nummer + "px" am Ende ein, z.B 10px</placeholder>
            <helpText>
                This will be configurated for all of the elements
            </helpText>
            <helpText lang="de-DE">
                Diese Configuration gilt fur alle Elemente.
            </helpText>
        </input-field> <!--Padding Right -->
        <input-field>
            <name>paddingBottom</name>
            <copyable>true</copyable>
            <label>Space under the Text</label>
            <label lang="de-DE">Abstand von unten</label>
            <placeholder>Please insert number + "px" . Example : 10px </placeholder>
            <placeholder lang="de-DE">Geben Sie bitte ein nummer + "px" am Ende ein, z.B 10px</placeholder>
            <helpText>
                This will be configurated for all of the elements
            </helpText>
            <helpText lang="de-DE">
                Diese Configuration gilt fur alle Elemente.
            </helpText>
        </input-field> <!--Padding Bottom -->
        <input-field>
            <name>paddingLeft</name>
            <copyable>true</copyable>
            <label>Space on the left side of  Text</label>
            <label lang="de-DE">Abstand von links</label>
            <placeholder>Please insert number + "px" . Example : 10px </placeholder>
            <placeholder lang="de-DE">Geben Sie bitte ein nummer + "px" am Ende ein, z.B 10px</placeholder>
            <helpText>
                This will be configurated for all of the elements
            </helpText>
            <helpText lang="de-DE">
                Diese Configuration gilt fur alle Elemente.
            </helpText>
        </input-field> <!--Padding Left -->


    </card> <!--General Bar configurations-->

    <card>
        <title>USP1</title>
        <title lang="de-DE">Linke Text Konfiguration</title>

        <input-field>
            <name>left</name>
            <copyable>true</copyable>
            <label>Text Left</label>
            <label lang="de-DE">Text Left</label>
            <placeholder>Text Left</placeholder>
            <placeholder lang="de-DE">Text Links</placeholder>
            <helpText>This text will be displayed in the left corner</helpText>
            <helpText lang="de-DE">This text will be displayed in the left corner</helpText>
        </input-field> <!-- Text Input Left-->
        <input-field>
            <name>textLinkLeft</name>
            <copyable>true</copyable>
            <label>Text Link</label>
            <label lang="de-DE">Text Link</label>
            <placeholder>Text Link Example: https://facebook.com</placeholder>
            <placeholder lang="de-DE">Text Link Beispiel: https://facebook.com</placeholder>
            <helpText>On click the user will be redirected on this Link</helpText>
            <helpText lang="de-DE">Ein Link bitte eingeben wo der Kunde mit einem Click auf dem Text umgeleitet</helpText>
        </input-field> <!-- Text Input Left-->
        <component name="sw-media-field">
            <name>iconLeft</name>
            <label>Upload media or choose one from the media manager</label>
        </component>
    </card> <!--USP1-->

    <card>
        <title>USP2</title>
        <title lang="de-DE">USP2</title>

        <input-field>
            <name>middle</name>
            <copyable>true</copyable>
            <label>Text Middle</label>
            <label lang="de-DE">Text Middle</label>
            <placeholder>Text Middle</placeholder>
            <placeholder lang="de-DE">Text in die mitte</placeholder>
            <helpText>This text will be displayed in the middle</helpText>
            <helpText lang="de-DE">This text will be displayed in the middle</helpText>
        </input-field> <!-- Text Input Middle-->
        <input-field>
            <name>textLinkMiddle</name>
            <copyable>true</copyable>
            <label>Text Link</label>
            <label lang="de-DE">Text Link</label>
            <placeholder>Text Link Example: https://facebook.com</placeholder>
            <placeholder lang="de-DE">Text Link Beispiel: https://facebook.com</placeholder>
            <helpText>On click the user will be redirected on this Link</helpText>
            <helpText lang="de-DE">Ein Link bitte eingeben wo der Kunde mit einem Click auf dem Text umgeleitet</helpText>
        </input-field> <!-- Link Input Middle-->

        <component name="sw-media-field">
            <name>iconMiddle</name>
            <label>Upload media or choose one from the media manager</label>
        </component>

    </card> <!--Text Middle-->

    <card>
        <title>USP3</title>
        <title lang="de-DE">USP3</title>
        <input-field>
            <name>right</name>
            <copyable>true</copyable>
            <label>Text Right</label>
            <label lang="de-DE">Text Right</label>
            <placeholder>Text Right</placeholder>
            <placeholder lang="de-DE">Text Rechts</placeholder>
            <helpText>This text will be displayed in the Right corner</helpText>
            <helpText lang="de-DE">This text will be displayed in the Right corner</helpText>
        </input-field> <!-- Text Input Right-->
        <input-field>
            <name>textLinkRight</name>
            <copyable>true</copyable>
            <label>Text Link</label>
            <label lang="de-DE">Text Link</label>
            <placeholder>Text Link Example: https://facebook.com</placeholder>
            <placeholder lang="de-DE">Text Link Beispiel: https://facebook.com</placeholder>
            <helpText>On click the user will be redirected on this Link</helpText>
            <helpText lang="de-DE">Ein Link bitte eingeben wo der Kunde mit einem Click auf dem Text umgeleitet</helpText>
        </input-field> <!-- Link Input Right-->
        <component name="sw-media-field">
            <name>iconRight</name>
            <label>Upload media or choose one from the media manager</label>
        </component>
    </card> <!--Text Right-->

    <card>
        <title>Mobile Version</title>
        <title lang="de-DE">Mobile Version</title>

        <input-field>
            <name>paddingTopMobile</name>
            <copyable>true</copyable>
            <label>Space Above the Text</label>
            <label lang="de-DE">Abstand von oben</label>
            <placeholder>Please insert number + "px" . Example : 10px </placeholder>
            <placeholder lang="de-DE">Geben Sie bitte ein nummer + "px" am Ende ein, z.B 10px</placeholder>
            <helpText>
                This will be configurated for all of the elements in mobile version
            </helpText>
            <helpText lang="de-DE">
                Diese Configuration gilt fur alle Elemente in Mobile Version.
            </helpText>
        </input-field> <!--Padding Top Mobile-->
        <input-field>
            <name>paddingRightMobile</name>
            <copyable>true</copyable>
            <label>Space on the right side of the Text</label>
            <label lang="de-DE">Abstand von rechts</label>
            <placeholder>Please insert number + "px" . Example : 10px </placeholder>
            <placeholder lang="de-DE">Geben Sie bitte ein nummer + "px" am Ende ein, z.B 10px</placeholder>
            <helpText>
                This will be configurated for all of the elements in mobile version
            </helpText>
            <helpText lang="de-DE">
                Diese Configuration gilt fur alle Elemente in Mobile Version.
            </helpText>
        </input-field> <!--Padding Right Mobile-->
        <input-field>
            <name>paddingBottomMobile</name>
            <copyable>true</copyable>
            <label>Space under the Text</label>
            <label lang="de-DE">Abstand von unten</label>
            <placeholder>Please insert number + "px" . Example : 10px </placeholder>
            <placeholder lang="de-DE">Geben Sie bitte ein nummer + "px" am Ende ein, z.B 10px</placeholder>
            <helpText>
                This will be configurated for all of the elements in mobile version
            </helpText>
            <helpText lang="de-DE">
                Diese Configuration gilt fur alle Elemente in Mobile Version.
            </helpText>
        </input-field> <!--Padding Bottom Mobile-->
        <input-field>
            <name>paddingLeftMobile</name>
            <copyable>true</copyable>
            <label>Space on the left side of  Text</label>
            <label lang="de-DE">Abstand von links</label>
            <placeholder>Please insert number + "px" . Example : 10px </placeholder>
            <placeholder lang="de-DE">Geben Sie bitte ein nummer + "px" am Ende ein, z.B 10px</placeholder>
            <helpText>
                This will be configurated for all of the elements in mobile version
            </helpText>
            <helpText lang="de-DE">
                Diese Configuration gilt fur alle Elemente in Mobile Version.
            </helpText>
        </input-field> <!--Padding Left Mobile-->

        <input-field type="bool">
            <name>displayTextLeft</name>
            <label>Display USP1</label>
            <label lang="de-DE">Anzeigen USP1</label>
        </input-field>
        <input-field type="bool">
            <name>displayTextMiddle</name>
            <label>Display USP2</label>
            <label lang="de-DE">Anzeigen USP2</label>
        </input-field>
        <input-field type="bool">
            <name>displayTextRight</name>
            <label>Display USP3</label>
            <label lang="de-DE">Anzeigen USP3</label>
        </input-field>

    </card> <!--Bar mobile configurations-->
</config>
